<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.BedrockRuntime" version="3.7.411" manuallyInstalled="true" />
  <package id="AWSSDK.Core" version="3.7.400.59" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
</packages>