<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.BedrockRuntime" version="3.7.411" manuallyInstalled="true" />
  <package id="AWSSDK.Core" version="3.7.400.77" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.405.3" manuallyInstalled="true" />
  <package id="AWSSDK.Extensions.NETCore.Setup" version="3.7.301" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" />
</packages>